body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: black;
}

header ul li {
    list-style-type: none;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid rgb(239, 239, 239);
}

#top-header > * {
    margin: 5px 30px;
}

#top-header ul {
    display: flex;
}

#top-header li {
    font-weight: 600;
    padding: 10px 15px;
    margin-left: 25px;
}

#register {
    background-color: black;
    color: white;
}

#register a {
    color: white;
}

#register:hover, #login:hover {
    background-color: rgb(45, 45, 45);
}

#login:hover {
    color: white;
}

#bottom-header ul {
    display: flex;
    justify-content: center;
}

#bottom-header li {
    padding: 15px 12px;
    margin: -16px 0;
}

#bottom-header li:hover {
    background-color: rgb(185, 185, 185);
    /* border-bottom: 3px solid black; */
}

#bottom-header {

    border-bottom: 2px solid rgb(0, 0, 0);
}

main {
    width: 1000px;
    margin: 0 auto;
}

#title {
    font-size: 50px;
    font-weight: 600;
    margin: 30px 0;
}

#subinfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

figcaption {
    color: gray;
}

#author {
    font-weight: 900;
}

#text {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 200;
}

.bold {
    font-weight: 800;
}

footer {
    width: 1500px;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-top: -20px;
}

#footer-seperator {
    border-top: 2px solid black;
    margin: 50px 0;
}

footer span {
    font-weight: 100; /* doesnt work */
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-left: -10px;
}

footer ul li {
    margin:0 10px;
}

#anchors {
    font-weight: 600;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding-bottom: 20px;
}

#others {
    padding-top: 10px;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer span a {
    font-weight: 900;
}